<p>Enter your data:</p>

<form action="/calculate" method="GET">
    <label for="height-input">Enter Height in Meters</label>
    <input id="height-input" name="height">
    <br>
    <label for="weight-input">Enter Weight in Kilograms</label>
    <input id="weight-input" name="weight">
    <br>
    <input type="submit">
</form>